@using SRS.Services.Models.Constants
@using SRS.Services.Models.ThemeOfScientificWorkModels
@model ThemeOfScientificWorkModel

@{
    ViewBag.Title = "Створити";
}

<h2>Створити</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Наукова робота</h4>
        @{Html.RenderPartial("Common/RequiredFieldsInfo");}
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Номер ДР <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThemeNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThemeNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Шифр</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Тема <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Науковий керівник</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScientificHead, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScientificHead, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Адміністратор <span class="text-danger">*</span></label>
            <div class="col-md-10">
                <select id="user-selector" class="form-control chosen-select" name="UserId" data-selected="@Model.UserId">
                    <option value="">Виберіть користувача</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тип фінансування <span class="text-danger">*</span></label>
            @Html.EnumDropDownListFor(model => model.Financial,
                                                                         new { @class = "form-control col-md-2", @style = "margin-left: 15px;" })
        </div>

        <div class="form-group subcategory-container">
            <label class="control-label col-md-2">Підкатегорія</label>
            @Html.EnumDropDownListFor(model => model.SubCategory, "Не вибрано",
                                                                    new { @class = "form-control col-md-2", @style = "margin-left: 15px;" })
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Фінансування по роках</label>
            <div class="col-md-10">
                <button class="btn btn-info add-financial" type="button">Додати</button>
                <div class="selected-items selected-financials">
                    @for (var i = 0; i < Model.ThemeOfScientificWorkFinancials.Count; i++)
                    {
                        <div>
                            <div class="selected-item">
                                <div>@Model.ThemeOfScientificWorkFinancials[i].Year рік - @Model.ThemeOfScientificWorkFinancials[i].Amount грн <i class="bi bi-file-x-fill text-danger cursor-pointer"></i></div>
                                <input type="hidden" name="ThemeOfScientificWorkFinancials[@i].Id" class="id" value="@Model.ThemeOfScientificWorkFinancials[i].Id" />
                                <input type="hidden" name="ThemeOfScientificWorkFinancials[@i].Year" class="year" value="@Model.ThemeOfScientificWorkFinancials[i].Year" />
                                <input type="hidden" name="ThemeOfScientificWorkFinancials[@i].Amount" class="amount" value="@Model.ThemeOfScientificWorkFinancials[i].Amount" />
                            </div>
                        </div>
                    }
                </div>
                <div class="new-financial">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Період з <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeriodFrom, new { htmlAttributes = new { @class = "form-control", min = Dates.MinDate.ToString(Dates.DatePattern), max = Dates.MaxDate.ToString(Dates.DatePattern) } })
                @Html.ValidationMessageFor(model => model.PeriodFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Період до <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeriodTo, new { htmlAttributes = new { @class = "form-control", min = Dates.MinDate.ToString(Dates.DatePattern), max = Dates.MaxDate.ToString(Dates.DatePattern) } })
                @Html.ValidationMessageFor(model => model.PeriodTo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Створити" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>
@section Styles {
    @Styles.Render("~/Content/chosen/bundle")
    @Styles.Render("~/Content/themeOfScientificWorks/bundle")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/departmentSelector")
    @Scripts.Render("~/bundles/themeofscientificworks/edit")
}
