@using SRS.Services.Models
@using SRS.Web.Extensions
@model ThemeOfScientificWorkModel

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалити</h2>

<h3>Ви впевнені, що хочете видалити це?</h3>
<h4 class="text-warning">*Видалити тему наукової роботи можна лише тоді, коли вона не належить до жодного звіту.</h4>
<div>
    <h4>Наукова робота</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер ДР
        <dt>
        <dd>
            @Html.DisplayFor(model => model.ThemeNumber)
        </dd>
        <dt>
            Шифр
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            Тема
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            Тип фінансування
        </dt>
        <dd>
            @Model.Financial.GetDisplayName()
        </dd>
        <dt>
            Підкатегорія
        </dt>
        <dd>
            @(Model.SubCategory != null ? Model.SubCategory.GetDisplayName() : null)
        </dd>
        <dt>
            Фінансування по роках
        </dt>
        <dd>
            @for(var i=0; i< Model.ThemeOfScientificWorkFinancials.Count; i++)
            {
                <div>@Model.ThemeOfScientificWorkFinancials[i].Year рік - @Model.ThemeOfScientificWorkFinancials[i].Amount грн </div>
            }
        </dd>
        <dt>
            Науковий керівник
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScientificHead)
        </dd>
        <dt>
            Період з
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodFrom)
        </dd>
        <dt>
            Період до
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodTo)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
