@using PagedList.Mvc
@using SRS.Domain.Enums
@using SRS.Domain.Enums.OrderTypes
@using SRS.Services.Extensions
@using SRS.Services.Models.ThemeOfScientificWorkModels
@using SRS.Web.Models.Shared
@using SRS.Web.Models.ThemeOfScientificWorks
@model ItemsViewModel<ThemeOfScientificWorkFilterViewModel, BaseThemeOfScientificWorkWithFinancialsModel>
@{
    ViewBag.Title = "Тематичні плани";
}

<h2>Тематичні плани</h2>
<button class="collapsible btn btn-light" data-target="#filter-container">Фільтри <i class="bi bi-filter"></i></button>
<form id="filter-container" class="collapse-target">
    <div class="form-group">
        <div>
            @Html.EnumDropDownListFor(model => model.FilterModel.Financial, "Виберіть тип проєкту", new { @class = "form-control chosen-select", Name = "Financial" })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.EnumDropDownListFor(model => model.FilterModel.SubCategory, "Виберіть підкатегорію", new { @class = "form-control chosen-select", Name = "SubCategory" })
        </div>
    </div>
    @{Html.RenderPartial("Filters/ActiveFilter", Model.FilterModel.IsActive != null ? Model.FilterModel.IsActive.ToString() : string.Empty);}
    <div>
        <label class="control-label">
            Дата початку
        </label>
    </div>
    @{Html.RenderPartial("Filters/DateRangeFilter", new DateRangeViewModel { From = Model.FilterModel.PeriodFromFrom, To = Model.FilterModel.PeriodFromTo, Prefix = "PeriodFrom" });}
    <div>
        <label class="control-label">
            Дата завершення
        </label>
    </div>
    @{Html.RenderPartial("Filters/DateRangeFilter", new DateRangeViewModel { From = Model.FilterModel.PeriodToFrom, To = Model.FilterModel.PeriodToTo, Prefix = "PeriodTo" });}
    @{ViewBag.SearchPlaceholder = "Пошук за назвою, номером, шифром";}
    @{Html.RenderPartial("Filters/BaseFilter", Model.FilterModel);}
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Фільтрувати" />
    </div>
</form>
<p>
    @Html.ActionLink("Створити", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Номер державної реєстрації", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.ThemeNumber, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.ThemeNumber, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Внутрішній шифр", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.Code, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.Code, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Назва", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.Value, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.Value, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Науковий керівник", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.ScientificHead, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.ScientificHead, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Науковий керівник", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.Supervisor, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.Supervisor, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Період виконання", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.PeriodTo, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.PeriodTo, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Тип проєкту", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.Financial, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.Financial, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Підкатегорія", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.SubCategory, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.SubCategory, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Фінансування", "Index", new ThemeOfScientificWorkFilterViewModel { Page = 1, OrderBy = (int)ThemeOfScientificWorkOrderType.FinancialAmount, Desc = !Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)ThemeOfScientificWorkOrderType.FinancialAmount, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="@(!item.IsActive ? "text-danger" : String.Empty)">
                    <td>
                        @Html.DisplayFor(modelItem => item.ThemeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScientificHead)
                    </td>
                    <td>
                        @if (item.Supervisor != null)
                        {
                            foreach (var i in item.Supervisor.I18nUserInitials)
                            {
                                if (i.Language == Language.UA)
                                {
                                    @Html.DisplayFor(modelItem => i.LastName)<br />
                                    @Html.DisplayFor(modelItem => i.FirstName)<br />
                                    @Html.DisplayFor(modelItem => i.FathersName)
                                    break;
                                }
                            }
                        }
                    </td>
                    <td>
                        <div class="white-space-nowrap">@Html.DisplayFor(modelItem => item.PeriodFrom)</div>
                        <div class="white-space-nowrap">@Html.DisplayFor(modelItem => item.PeriodTo)</div>
                    </td>
                    <td>
                        @item.Financial.GetDisplayName()
                    </td>
                    <td>
                        @(item.SubCategory != null ? item.SubCategory.GetDisplayName() : string.Empty)
                    </td>
                    <td>
                        @for (var i = 0; i < item.ThemeOfScientificWorkFinancials.Count; i++)
                        {
                            <div>@item.ThemeOfScientificWorkFinancials[i].Year р. - <i>@item.ThemeOfScientificWorkFinancials[i].Amount грн </i></div>
                        }
                        @if (item.ThemeOfScientificWorkFinancials != null && item.ThemeOfScientificWorkFinancials.Count > 0)
                        {
                            <div><b>Сума</b> - <i>@item.ThemeOfScientificWorkFinancials.Sum(x => x.Amount) грн </i></div>
                        }
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                        }
                        else
                        {
                            <div class="text-danger">Неактивна</div>
                        }
                        @Html.ActionLink("Деталі", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink(item.IsActive ? "Деактивувати" : "Активувати", "ToggleActivation", new { id = item.Id }, new { @class = "btn " + (item.IsActive ? "btn-danger" : "btn-success") })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{Html.RenderPartial("Pagination/PageInfo", new PageInfoViewModel { PageNumber = Model.Items.PageNumber, PageCount = Model.Items.PageCount, PageItemCount = Model.Items.Count, TotalItemCount = Model.Items.TotalItemCount });}
@Html.PagedListPager(Model.Items, page => Url.Action("Index", new ThemeOfScientificWorkFilterViewModel { Page = page, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc, Financial = Model.FilterModel.Financial, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, SubCategory = Model.FilterModel.SubCategory, PeriodFromFrom = Model.FilterModel.PeriodFromFrom, PeriodFromTo = Model.FilterModel.PeriodFromTo, PeriodToFrom = Model.FilterModel.PeriodToFrom, PeriodToTo = Model.FilterModel.PeriodToTo }))

@section Styles {
    @Styles.Render("~/Content/chosen/bundle")
}
@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/departmentSelector")
    @Scripts.Render("~/bundles/collapsible")
}