@using SRS.Services.Models.Constants
@model SRS.Web.Models.Account.UpdateProfileViewModel
@{
    ViewBag.Title = "Персональна інформація";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    Html.RenderPartial("Common/RequiredFieldsInfo");
    @Html.AntiForgeryToken()
    <hr />
    @Html.EditorFor(x => x.I18nUserInitials)
    <div class="form-group">
        <label for="MonographCounterBeforeRegistration" class="control-label col-md-2">Кількість монографій, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MonographCounterBeforeRegistration, new { @class = "form-control", Type="number", Min = 0 })
            @Html.ValidationMessageFor(model => model.MonographCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="BookCounterBeforeRegistration" class="control-label col-md-2">Кількість підручників, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BookCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.BookCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="TrainingBookCounterBeforeRegistration" class="control-label col-md-2">Кількість навчальних посібників, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TrainingBookCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.TrainingBookCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="PublicationCounterBeforeRegistration" class="control-label col-md-2">Кількість статей, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PublicationCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.PublicationCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="OtherWritingCounterBeforeRegistration" class="control-label col-md-2">Кількість інших наукових видань, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OtherWritingCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.OtherWritingCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="ConferenceCounterBeforeRegistration" class="control-label col-md-2">Кількість тез доповідей на конференціях, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConferenceCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.ConferenceCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="PatentCounterBeforeRegistration" class="control-label col-md-2">Кількість патентів, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PatentCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.PatentCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="BirthDate" class="control-label col-md-2">Дата народження <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GraduationDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GraduationDate, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.GraduationDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AspirantStartYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AspirantStartYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.AspirantStartYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AspirantFinishYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AspirantFinishYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.AspirantFinishYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DefenseYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DefenseYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.DefenseYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AwardingDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AwardingDate, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.AwardingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DoctorStartYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DoctorStartYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.DoctorStartYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DoctorFinishYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DoctorFinishYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.DoctorFinishYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Науковий ступінь</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.DegreeId,
                                                 new SelectList(ViewBag.AllDegrees, "Id", "Value"),
                                                 new { @class = "form-control chosen-select" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Вчене звання</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AcademicStatusId,
                                            new SelectList(ViewBag.AllAcademicStatuses, "Id", "Value"),
                                            new { @class = "form-control chosen-select" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Посада</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PositionId,
                                                  new SelectList(ViewBag.AllPositions, "Id", "Value"),
                                                  new { @class = "form-control chosen-select" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" id="submit_btn" value="Оновити" />
        </div>
    </div>
}

@section Styles{
    @Styles.Render("~/Content/chosen/bundle")
}

@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jqueryval")
}
