@using SRS.Services.Models.Constants
@model SRS.Web.Models.Account.UpdateProfileViewModel
@{
    ViewBag.Title = "Персональна інформація";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    Html.RenderPartial("Common/RequiredFieldsInfo");
    @Html.AntiForgeryToken()
    <hr />
    @Html.EditorFor(x => x.I18nUserInitials)
    <div class="form-group">
        <label for="MonographCounterBeforeRegistration" class="control-label col-md-2">Кількість монографій, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MonographCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.MonographCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="BookCounterBeforeRegistration" class="control-label col-md-2">Кількість підручників, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BookCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.BookCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="TrainingBookCounterBeforeRegistration" class="control-label col-md-2">Кількість навчальних посібників, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TrainingBookCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.TrainingBookCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="PublicationCounterBeforeRegistration" class="control-label col-md-2">Кількість статей, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PublicationCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.PublicationCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="OtherWritingCounterBeforeRegistration" class="control-label col-md-2">Кількість інших наукових публікацій, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OtherWritingCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.OtherWritingCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="ConferenceCounterBeforeRegistration" class="control-label col-md-2">Кількість тез доповідей на конференціях, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConferenceCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.ConferenceCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="PatentCounterBeforeRegistration" class="control-label col-md-2">Кількість патентів, що внесено до звітів за попередні роки <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PatentCounterBeforeRegistration, new { @class = "form-control", Type = "number", Min = 0 })
            @Html.ValidationMessageFor(model => model.PatentCounterBeforeRegistration, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="BirthDate" class="control-label col-md-2">Дата народження <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GraduationDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GraduationDate, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.GraduationDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AspirantStartYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AspirantStartYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.AspirantStartYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AspirantFinishYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AspirantFinishYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.AspirantFinishYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DegreeDefenseYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DegreeDefenseYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.DegreeDefenseYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DoctorStartYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DoctorStartYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.DoctorStartYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DoctorFinishYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DoctorFinishYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.DoctorFinishYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AcademicStatusDefenseYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AcademicStatusDefenseYear, new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year })
            @Html.ValidationMessageFor(model => model.AcademicStatusDefenseYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Посада <span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PositionId, new SelectList(ViewBag.AllPositions, "Id", "Value"), new { @class = "form-control chosen-select" })
            @Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Наукові ступені</label>
        <div class="col-md-10" id="degree-related-entity">
            <button class="btn btn-info add-related-entity" type="button">Додати</button>
            <div class="selected-items">
                @if (Model.Degrees != null)
                {
                    for (var i = 0; i < Model.Degrees.Count; i++)
                    {
                        <div>
                            <div class="selected-item">
                                <div>
                                    <div>@Model.Degrees[i].DegreeName</div>
                                    <div>Рік присвоєння: @Model.Degrees[i].AwardYear </div>
                                    <i class="bi bi-file-x-fill text-danger cursor-pointer"></i>
                                </div>
                                <input type="hidden" name="Degrees[@i].Id" class="id" value="@Model.Degrees[i].Id" />
                                <input type="hidden" name="Degrees[@i].DegreeId" class="degreeId" value="@Model.Degrees[i].DegreeId" />
                                <input type="hidden" name="Degrees[@i].DegreeName" class="degreeName" value="@Model.Degrees[i].DegreeName" />
                                <input type="hidden" name="Degrees[@i].AwardYear" class="awardYear" value="@Model.Degrees[i].AwardYear" />
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="new-related-entity">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Вчені звання</label>
        <div class="col-md-10" id="academic-status-related-entity">
            <button class="btn btn-info add-related-entity" type="button">Додати</button>
            <div class="selected-items">
                @if (Model.AcademicStatuses != null)
                {
                    for (var i = 0; i < Model.AcademicStatuses.Count; i++)
                    {
                        <div>
                            <div class="selected-item">
                                <div>
                                    <div>@Model.AcademicStatuses[i].AcademicStatusName</div>
                                    <div>Рік присудження: @Model.AcademicStatuses[i].AwardYear </div>
                                    <i class="bi bi-file-x-fill text-danger cursor-pointer"></i>
                                </div>
                                <input type="hidden" name="AcademicStatuses[@i].Id" class="id" value="@Model.AcademicStatuses[i].Id" />
                                <input type="hidden" name="AcademicStatuses[@i].AcademicStatusId" class="academicStatusId" value="@Model.AcademicStatuses[i].AcademicStatusId" />
                                <input type="hidden" name="AcademicStatuses[@i].AcademicStatusName" class="academicStatusName" value="@Model.AcademicStatuses[i].AcademicStatusName" />
                                <input type="hidden" name="AcademicStatuses[@i].AwardYear" class="awardYear" value="@Model.AcademicStatuses[i].AwardYear" />
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="new-related-entity">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Почесні звання</label>
        <div class="col-md-10" id="honorary-title-related-entity">
            <button class="btn btn-info add-related-entity" type="button">Додати</button>
            <div class="selected-items">
                @if (Model.HonoraryTitles != null)
                {
                    for (var i = 0; i < Model.HonoraryTitles.Count; i++)
                    {
                        <div>
                            <div class="selected-item">
                                <div>
                                    @Model.HonoraryTitles[i].Value
                                    <i class="bi bi-file-x-fill text-danger cursor-pointer"></i>
                                </div>
                                <input type="hidden" name="HonoraryTitles[@i].Id" class="id" value="@Model.HonoraryTitles[i].Id" />
                                <input type="hidden" name="HonoraryTitles[@i].Value" class="value" value="@Model.HonoraryTitles[i].Value" />
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="new-related-entity">
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ResearcherId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ResearcherId, new { @class = "form-control", placeholder = "X-0000-0000" })
            @Html.ValidationMessageFor(model => model.ResearcherId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Orcid, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Orcid, new { @class = "form-control", placeholder = "0000-0000-0000-000X" })
            @Html.ValidationMessageFor(model => model.Orcid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ScopusAuthorId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ScopusAuthorId, new { @class = "form-control", placeholder = "0000000000" })
            @Html.ValidationMessageFor(model => model.ScopusAuthorId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GoogleScholarLink, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoogleScholarLink, new { @class = "form-control", placeholder = "https://scholar.google.com.ua/citations?user=XXXXXXXXXXXX" })
            @Html.ValidationMessageFor(model => model.GoogleScholarLink, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ScopusHIndex, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ScopusHIndex, new { @class = "form-control", Min = 0, Type = "number" })
            @Html.ValidationMessageFor(model => model.ScopusHIndex, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WebOfScienceHIndex, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.WebOfScienceHIndex, new { @class = "form-control", Min = 0, Type = "number" })
            @Html.ValidationMessageFor(model => model.WebOfScienceHIndex, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GoogleScholarHIndex, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoogleScholarHIndex, new { @class = "form-control", Min = 0, Type = "number" })
            @Html.ValidationMessageFor(model => model.GoogleScholarHIndex, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" id="submit_btn" value="Оновити" />
        </div>
    </div>
}

@section Styles{
    @Styles.Render("~/Content/chosen/bundle")
    @Styles.Render("~/Content/relatedEntity/bundle")
}

@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/relatedEntityComponent")
    @Scripts.Render("~/bundles/manage/update")
}
