@using SRS.Services.Models.Constants
@using SRS.Services.Models.ThemeOfScientificWorkModels
@using SRS.Services.Extensions
@using SRS.Domain.Enums

@model SRS.Web.Models.DepartmentReports.DepartmentReportViewModel

@{
    ViewBag.Title = "Кафедральний звіт";
}

<h2>Кафедральний звіт</h2>

<div id="wizard">
    <h3>Досягнення провідних наукових шкіл</h3>
    <section class="section-body">
        @using (@Html.BeginForm("UpdateAchievementSchoolInfo", "CathedraReport", FormMethod.Post, new { @id = "updateAchievementSchoolForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">
                    1. Досягнення провідних наукових шкіл за звітний рік (до 1 с.):
                </label>
                <div>
                    @Html.TextAreaFor(model => model.AchivementSchool, 15, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.AchivementSchool,
                    })
                </div>
            </div>
            <input type="hidden" name="stepIndex" value="@ViewBag.StepIndex" id="stepIndex_1" />
            <input type="hidden" name="Id" value="@Model.Id" />
        }
    </section>
    <h3>Наукова робота</h3>
    <section class="section-body">
        @using (@Html.BeginForm("UpdateThemeInfo", "CathedraReport", FormMethod.Post, new { @id = "updateThemeForm" }))
        {
            @Html.AntiForgeryToken()

            var counter = 1;
            foreach (var item in (Dictionary<Financial, IList<DepartmentReportThemeOfScientificWorkModel>>)ViewBag.AllThemes)
            {
        <div class="form-group">
            <label class="control-label">
                2.@(counter++) @(item.Key.GetDisplayName()):
            </label>
            @foreach (var theme in item.Value)
            {
                <div><b>Тема @theme.Code “@theme.Value”</b></div>
                <div><b>Наукові керівники:</b> @theme.GetSupervisors()</div>
                <div>Номер державної реєстрації: @theme.ThemeNumber.</div>
                {
                    <div>Термін дії теми: @theme.PeriodFrom.ToString(Dates.UaDatePattern)&mdash;@theme.PeriodTo.ToString(Dates.UaDatePattern) р. Обсяг фінансування: @(theme.FinancialAmount ?? 0m) грн. у @(theme.FinancialYear ?? DateTime.Now.Year) році.</div>
                }
                <div><b>Резюме</b></div>
                <div>@theme.Resume</div>
                <div><b>Публікації</b></div>
                <div>@theme.Publications</div>
                <div><b>Захищені дисертації</b></div>
                <div>@theme.DefendedDissertation</div>
                <div><b>Виконавці:</b></div>
                <div>Штатні - @theme.AmountOfApplicationUserFullTime</div>
                <div>Сумісники - @theme.AmountOfApplicationUserExternalPartTime</div>
                <div>За цивільно-правовим договором - @theme.AmountOfApplicationUserLawContract</div>
                <br />
            }
        </div>
                <hr />
            }
            if (Model.Grants.Count > 0)
            {
                <div class="publication-block">
                    <p class="publication-header">
                        3. Участь у виконанні індивідуальних або колективних ґрантів:
                    </p>
                    @Html.EditorFor(model => model.Grants)
                </div>
            }
            <div class="form-group">
                <label class="control-label">
                    Інші ґранти:
                </label>
                <div>
                    @Html.TextAreaFor(model => model.OtherGrants, 6, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.OtherGrants,
                    })
                </div>
            </div>

            <input type="hidden" name="stepIndex" value="@ViewBag.StepIndex" id="stepIndex_2" />
            <input type="hidden" name="Id" value="@Model.Id" />
        }
    </section>

    <h3>Публікації</h3>
    <section class="section-body">
        @using (@Html.BeginForm("UpdatePublications", "CathedraReport", FormMethod.Post, new { @id = "updatePublicationForm" }))
        {
            @Html.AntiForgeryToken()
            if (Model.Publications.Count > 0)
            {
                <div class="publication-block">
                    <p class="publication-header">
                        Публікації:
                    </p>
                    @Html.EditorFor(model => model.Publications)
                </div>
            }
            if (Model.ApplicationsForInvention.Count > 0)
            {
                <div class="publication-block">
                    <p class="publication-header">
                        Заявки на винахід:
                    </p>
                    @Html.EditorFor(model => model.ApplicationsForInvention)
                </div>
            }
            if (Model.PatentsForInvention.Count > 0)
            {
                <div class="publication-block">
                    <p class="publication-header">
                        Патенти на винахід:
                    </p>
                    @Html.EditorFor(model => model.PatentsForInvention)
                </div>
            }
            if (Model.Publications.Count == 0
                && Model.ApplicationsForInvention.Count == 0
                && Model.PatentsForInvention.Count == 0)
            {
                <p style="margin-top:100px">
                    Немає публікацій за цей період.
                </p>
            }
            <input type="hidden" name="stepIndex" id="stepIndex_3" />
            <input type="hidden" name="Id" value="@Model.Id" />
        }
    </section>

    <h3>Інше</h3>
    <section class="section-body">
        @using (@Html.BeginForm("UpdateOtherInfo", "CathedraReport", FormMethod.Post, new { @id = "updateOtherForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">
                    5. Інші форми наукової діяльності
                    (робота спеціалізованих вчених, експертних рад, рецензування та опонування дисертацій тощо):
                </label>
                <div>
                    @Html.TextAreaFor(model => model.OtherFormsOfScientificWork, 6, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.OtherFormsOfScientificWork,
                    })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    6. Зовнішні зв’язки:
                </label>
                <div class="form-group">
                    <label class="control-label">
                        6.1. Співпраця з науковими установами НАН України
                        та галузевих академій наук України
                        (наукові стажування, кількість спільних публікацій, спільні наукові заходи):
                    </label>
                    <div>
                        @Html.TextAreaFor(model => model.CooperationWithAcadamyOfScience, 6, 70, new
                        {
                            @class = "form-control",
                            @style = "max-width: 100%",
                            @Value = Model.CooperationWithAcadamyOfScience,
                        })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">
                        6.2. Співпраця із закордонними науковими установами та фірмами
                        (наукові стажування, контракти, кількість
                        спільних публікацій, спільні наукові заходи, запрошення закордонних науковців):
                    </label>
                    <div>
                        @Html.TextAreaFor(model => model.CooperationWithForeignScientificInstitution, 6, 70, new
                        {
                            @class = "form-control",
                            @style = "max-width: 100%",
                            @Value = Model.CooperationWithForeignScientificInstitution,
                        })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    7. Аспірантура та докторантура
                </label>
                <div class="form-group">
                    <label class="control-label">
                        7.1. Захист дисертацій випускниками докторантури та аспірантури*
                    </label>
                    <div id="dissertation-defense-graduates-search" class="search-container">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input class="form-control" placeholder="Пошук за назвою теми, науковим керівником" />
                        </div>
                        <div class="search-results">
                        </div>
                    </div>
                    @if (Model.DissertationDefenseOfGraduates != null)
                    {
                        for (var i = 0; i < Model.DissertationDefenseOfGraduates.Count; i++)
                        {
                            <input type="hidden" class="initial-defense-graduates"
                                   data-id="@Model.DissertationDefenseOfGraduates[i].Id"
                                   data-theme="@Model.DissertationDefenseOfGraduates[i].Theme"
                                   data-specializationname="@Model.DissertationDefenseOfGraduates[i].Specialization.Value"
                                   data-specializationcode="@Model.DissertationDefenseOfGraduates[i].Specialization.Code"
                                   data-supervisordescription="@Model.DissertationDefenseOfGraduates[i].SupervisorDescription"
                                   data-yearofgraduating="@Model.DissertationDefenseOfGraduates[i].YearOfGraduating" />
                        }
                    }
                    <div class="selected-items selected-dissertation-defense-graduates">
                    </div>
                    *Випускниками докторантури та аспірантури.
                </div>

                <div class="form-group">
                    <label class="control-label">
                        7.2. Захист дисертацій співробітниками*
                    </label>
                    <div id="dissertation-defense-employee-search" class="search-container">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input class="form-control" placeholder="Пошук за назвою теми, науковим керівником" />
                        </div>
                        <div class="search-results">
                        </div>
                    </div>
                    @if (Model.DissertationDefenseOfEmployees != null)
                    {
                        for (var i = 0; i < Model.DissertationDefenseOfEmployees.Count; i++)
                        {
                            <input type="hidden" class="initial-defense-employee"
                                   data-id="@Model.DissertationDefenseOfEmployees[i].Id"
                                   data-theme="@Model.DissertationDefenseOfEmployees[i].Theme"
                                   data-specializationname="@Model.DissertationDefenseOfEmployees[i].Specialization.Value"
                                   data-specializationcode="@Model.DissertationDefenseOfEmployees[i].Specialization.Code"
                                   data-supervisordescription="@Model.DissertationDefenseOfEmployees[i].SupervisorDescription"
                                   data-yearofgraduating="@Model.DissertationDefenseOfEmployees[i].YearOfGraduating" />
                        }
                    }
                    <div class="selected-items selected-dissertation-defense-employee">
                    </div>
                    *Співробітники.
                </div>

                <div class="form-group">
                    <label class="control-label">
                        7.3. Захист у спеціалізованих вчених радах університету сторонніми працівниками*
                    </label>
                    <div id="dissertation-defense-academic-council-search" class="search-container">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input class="form-control" placeholder="Пошук за назвою теми, науковим керівником" />
                        </div>
                        <div class="search-results">
                        </div>
                    </div>
                    @if (Model.DissertationDefenseInAcademicCouncil != null)
                    {
                        for (var i = 0; i < Model.DissertationDefenseInAcademicCouncil.Count; i++)
                        {
                            <input type="hidden" class="initial-defense-academic-council"
                                   data-id="@Model.DissertationDefenseInAcademicCouncil[i].Id"
                                   data-theme="@Model.DissertationDefenseInAcademicCouncil[i].Theme"
                                   data-specializationname="@Model.DissertationDefenseInAcademicCouncil[i].Specialization.Value"
                                   data-specializationcode="@Model.DissertationDefenseInAcademicCouncil[i].Specialization.Code"
                                   data-supervisordescription="@Model.DissertationDefenseInAcademicCouncil[i].SupervisorDescription"
                                   data-yearofgraduating="@Model.DissertationDefenseInAcademicCouncil[i].YearOfGraduating" />
                        }
                    }
                    <div class="selected-items selected-dissertation-defense-academic-council">
                    </div>
                    *Співробітники.
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    8. Студентська наукова робота: кількість наукових гуртків і кількість студентів,
                    що беруть участь у їхній роботі; участь (кількість студентів) у виконанні держбюджетної
                    чи іншої наукової тематики; проведені студентські наукові конференції на базі
                    університету; виступи на конференціях (кількість доповідей за участю студентів,
                    назви конференцій); індивідуальні та спільні зі співробітниками університету
                    публікації; отримані нагороди у II етапі Всеукраїнських студентських Олімпіад,
                    міжнародних Олімпіадах, Всеукраїнських конкурсах студентських наукових робіт,
                    турнірах, чемпіонатах тощо:
                </label>
                <div>
                    @Html.TextAreaFor(model => model.StudentsWorks, 6, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.StudentsWorks,
                    })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    10. Конференції: стислий звіт про проведення конференцій
                    на базі університету (0,5 с. про кожну конференцію):
                </label>
                <div>
                    @Html.TextAreaFor(model => model.ConferencesInUniversity, 6, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.ConferencesInUniversity,
                    })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    12. Матеріальна база підрозділу (обладнання, придбане за звітний період чи введене в дію на кінець звітного року):
                </label>
                <div>
                    @Html.TextAreaFor(model => model.Materials, 6, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.Materials,
                    })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    13. Пропозиції щодо нових форм організації наукової роботи в ринкових умовах:
                </label>
                <div>
                    @Html.TextAreaFor(model => model.PropositionForNewForms, 6, 70, new
                    {
                        @class = "form-control",
                        @style = "max-width: 100%",
                        @Value = Model.PropositionForNewForms,
                    })
                </div>
            </div>
            <input type="hidden" name="stepIndex" value="@ViewBag.StepIndex" id="stepIndex_4" />
            <input type="hidden" name="Id" value="@Model.Id" />
        }
    </section>
    <h3>Дата та протокол</h3>
    <section class="section-body">
        @using (@Html.BeginForm("UpdateFinalInfo", "CathedraReport", FormMethod.Post, new { @id = "updateFinishForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">
                    Дата:
                </label>
                <div>
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Протокол:
                </label>
                <div>
                    @Html.TextBoxFor(model => model.Protocol, new { @class = "form-control" })
                </div>
            </div>

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <input type="hidden" name="stepIndex" value="@ViewBag.StepIndex" id="stepIndex_5" />
            <input type="hidden" name="Id" value="@Model.Id" />
        }
    </section>
    <h3>Завершення</h3>
    <section class="section-body">
        @using (@Html.BeginForm("Finalize", "CathedraReport", FormMethod.Post, new { @id = "updateEndForm" }))
        {
            @Html.AntiForgeryToken()
            <div style="text-align: center;
                        margin: 20px;
                        font-size: 22px;
                        color: green;">
                Ваш звіт успішно заповнено!
            </div>
            <input type="hidden" name="stepIndex" value="@ViewBag.StepIndex" id="stepIndex_6" />
            <input type="hidden" name="Id" value="@Model.Id" />
        }
        <div style="padding-top: 50px;
                        display: flex;
                        justify-content: space-evenly;">
            @if (Model.Date.HasValue && !string.IsNullOrEmpty(Model.Protocol))
            {
                using (Html.BeginForm("Sign", "CathedraReportList"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("reportId", Model.Id)
                    <button type="submit" class="btn btn-primary" id="signButton">Зберегти і завершити</button>
                }
            }
            @Html.ActionLink("Експорт у PDF", "PreviewPdf", "CathedraReportGeneration", new { reportId = Model.Id }, new { @class = "btn btn-default", @target = "_blank" })
            @Html.ActionLink("Експорт у LaTex", "GetLatex", "CathedraReportGeneration", new { reportId = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Експорт у Word (тест-версія)", "GetWord", "CathedraReportGeneration", new { reportId = Model.Id }, new { @class = "btn btn-default" })
            <a href="@Url.Action("Preview", "CathedraReportGeneration", new { reportId = Model.Id, department = Departments.Cathedra })"
               target="_blank"
               class="btn btn-default">
                Переглянути
            </a>
        </div>
    </section>
</div>

@section Styles {
    @Styles.Render("~/Content/chosen/bundle")
    @Styles.Render("~/Content/search/bundle")
    @Styles.Render("~/Content/steps/bundle")
    @Styles.Render("~/Content/reports/bundle")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/steps")
    @Scripts.Render("~/bundles/stepper")
    @Scripts.Render("~/bundles/searchComponent")
    @Scripts.Render("~/bundles/cathedrareports/edit")
}