@using SRS.Services.Models.Constants
@using SRS.Web.Models.Shared
@model DateRangeViewModel
<div class="form-group date-range">
    <div>
        <label class="control-label">
            Від
        </label>
        <div>
            <input name="@(Model.Prefix)From" type="date" class="form-control" value="@(Model.From != null ? Model.From.Value.ToString(Dates.DatePattern) : "")" min="@Dates.MinDate.ToString(Dates.DatePattern)" max="@Dates.MaxDate.ToString(Dates.DatePattern)" />
        </div>
    </div>
    <div>
        <label class="control-label">
            До
        </label>
        <div>
            <input name="@(Model.Prefix)To" type="date" class="form-control" value="@(Model.To != null ? Model.To.Value.ToString(Dates.DatePattern) : "")" min="@Dates.MinDate.ToString(Dates.DatePattern)" max="@Dates.MaxDate.ToString(Dates.DatePattern)" />
        </div>
    </div>
</div>