@using SRS.Services.Models
@using PagedList.Mvc
@model PagedList.IPagedList<AcademicStatusModel>

@{
    ViewBag.Title = "Наукові ступені";
}

<h2>Наукові ступені</h2>

<p>
    @Html.ActionLink("Cтворити", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))