<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://lnu.edu.ua/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar navbar-srs navbar-fixed-top">
        <div class="container-fluid header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand text-white">@Html.ActionLink("ЛНУ ім. Івана Франка", "Index", "Home")</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Працівник"))
                        {
                            <li>@Html.ActionLink("Публікації", "Index", "Publications")</li>
                        }
                        if (User.IsInRole("Працівник") || User.IsInRole("Керівник кафедри"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Звіти <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Керівник кафедри"))
                                    {
                                        <li>@Html.ActionLink("Звіт кафедри", "Index", "ReportsCathedra")</li>
                                    }
                                    @if (User.IsInRole("Працівник"))
                                    {
                                        <li>@Html.ActionLink("Звіт працівника", "Index", "Reports")</li>
                                    }
                                    @if (User.IsInRole("Працівник") || User.IsInRole("Керівник кафедри"))
                                    {
                                        <li>@Html.ActionLink("Список звітів", "Index", "ReportList")</li>
                                    }
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("Superadmin")
                                    || User.IsInRole("Адміністрація ректорату")
                                    || User.IsInRole("Адміністрація деканату")
                                    || User.IsInRole("Керівник кафедри"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Керування <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Superadmin")
                                                || User.IsInRole("Адміністрація ректорату")
                                                || User.IsInRole("Адміністрація деканату")
                                                || User.IsInRole("Керівник кафедри"))
                                    {
                                        <li>@Html.ActionLink("Користувачі", "Index", "UsersManagement")</li>
                                    }
                                    @if (User.IsInRole("Superadmin"))
                                    {
                                        <li>@Html.ActionLink("Наукові ступені", "Index", "AcademicStatus")</li>
                                    }
                                    @if (User.IsInRole("Superadmin")
                                                || User.IsInRole("Адміністрація ректорату")
                                                || User.IsInRole("Адміністрація деканату")
                                                || User.IsInRole("Керівник кафедри"))
                                    {
                                        <li>@Html.ActionLink("Наукові роботи", "Index", "ThemeOfScientificWorks")</li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container-fluid footer-container">
        <hr />
        <div class="col-xs-12">
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - ЛНУ ім. Івана Франка</p>
            </footer>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
