@model UserManagement.Models.db.Publication

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалити</h2>

<h3>Ви впевнені, що хочете це видалити?</h3>
<div>
    <h4>Публікація</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Назва
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Інші автори
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAuthors)
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            К-сть друк. арк.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeOfPages)
        </dd>

        <dt>
            Тип
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationType)
        </dd>
        <dt>
            Мова
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            Посилання на публікацію в інтернеті
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            Видавництво
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt>
            Місто, де розташоване видавництво
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            Назва журналу
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magazine)
        </dd>
        <dt>
            ДОІ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOI)
        </dd>
        <dt>
            Том
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tome)
        </dd>


    </dl>

    <p class="danger">@ViewBag.Exists</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
