@model UserManagement.Models.db.Publication

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Публікації</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Назва
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Інші автори
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAuthors)
        </dd>

        <dt>
            Зареєстровані автори
        </dt>

        <dd>
            @ViewBag.PublicationUsers
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            К-сть сторінок
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeOfPages)
        </dd>

        <dt>
            Тип
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationType)
        </dd>
        <dt>
            Мова
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            Посилання на публікацію в інтернеті
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            Видавництво
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt>
            Місто, де розташоване видавництво
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            Назва журналу
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magazine)
        </dd>
        <dt>
            ДОІ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOI)
        </dd>
        <dt>
            Частина видання
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
