@model UserManagement.Models.db.Publication

@{ ViewBag.Title = "Редагувати"; }

<h2>Редагувати</h2>


@using (Html.BeginForm("Edit", "Publications", FormMethod.Post, new { @id = "editForm" }))
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Публікації</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        <label class="control-label col-md-2">Мова публікації</label>
                        @Html.DropDownList("Language",
                              new SelectList(ViewBag.AllLanguages, "Value", "Text"),
                              "Виберіть мову",
                              new { @class = "form-control col-md-2", @style = "margin-left: 15px;", @id = "languageSelect" })
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Тип публікації</label>
                        @Html.DropDownList("PublicationType",
                              new SelectList(ViewBag.AllPublicationTypes, "Value", "Text"),
                              "Виберіть тип",
                              new { @class = "form-control col-md-2", @style = "margin-left: 15px;" })
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Назва*</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

    <input type="checkbox" style="margin:40px 15px; display: none" name="mainAuthorFromOthers" id="mainAuthorFromOthers" value="true" />
    <input name="mainAuthorFromOthers" type="hidden" value="true">

    <div class="form-group">
        <label class="control-label col-md-10 warning">Увага! Авторів можна вибрати зі списку або ввести нових у форматі "Прізвище Ім'я По батькові,Прізвище Iм'я По батькові..."</label>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" id="authors">Автори</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.OtherAuthors, new { htmlAttributes = new { @class = "form-control usersList", @multiple = "multiple", @list = "Suggestions", @id = "OtherAuthors" } })
            @Html.ValidationMessage("userToAdd", new { @class = "text-danger" })

            <datalist id="Suggestions">
                @foreach (var x in ViewBag.AllUsers)
                {
                    <option>@x.Text</option>
                }
            </datalist>
        </div>
    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Місто, де розташоване видавництво</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", @id = "Place" } })
                            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Рік публікації*</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="year" name="year" type="number" value="@Model.Date.Year" min="1900">
                            @Html.ValidationMessage("year", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Видавництво</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Edition, new { htmlAttributes = new { @class = "form-control", @id = "Edition" } })
                            @Html.ValidationMessageFor(model => model.Edition, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Назва журналу</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Magazine, new { htmlAttributes = new { @class = "form-control", @id = "Magazine" } })
                            @Html.ValidationMessageFor(model => model.Magazine, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Посилання на публікацію в інтернеті</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control", @id = "Link" } })
                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">ДОІ</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DOI, new { htmlAttributes = new { @class = "form-control", @id = "DOI" } })
                            @Html.ValidationMessageFor(model => model.DOI, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Частина видання</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Tome, new { htmlAttributes = new { @class = "form-control", @id = "Tome", placeholder = "вип.27" } })
                            @Html.ValidationMessageFor(model => model.Tome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group PagesFrom">
                        <label class="control-label col-md-2">Сторінки від.</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="pagesFrom" name="pagesFrom" type="number" value="@ViewBag.PagesFrom">
                        </div>
                    </div>

                    <div class="form-group PagesTo">
                        <label class="control-label col-md-2">Сторінки до.</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="pagesTo" name="pagesTo" type="number" value="@ViewBag.PagesTo">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Зберегти" class="btn btn-default" id="submit_btn" />
                        </div>
                    </div>
                    <input style="display:none" id="authorsIds" name="authorsIds" value="" />
                </div>}

<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>
<link rel="stylesheet" href="/../Scripts/docsupport/prism.css">
<link rel="stylesheet" href="/../Scripts/chosen.css">
<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop {
        left: -9000px;
    }

    .chosen-container {
        margin-left: 15px;
    }
    label.warning.control-label {
        text-align: left
    }
    input[name=OtherAuthors] {
        max-width: 100%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/../Scripts/chosen.jquery.js" type="text/javascript"></script>
<script src="/../Scripts/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const separator = ',';
        for (const input of document.getElementsByClassName("usersList")) {
            if (!input.multiple) {
                continue;
            }
            if (input.list instanceof HTMLDataListElement) {
                const optionsValues = Array.from(input.list.options).map(opt => opt.value);
                let valueCount = input.value.split(separator).length;
                input.addEventListener("input", () => {
                    const currentValueCount = input.value.split(separator).length;
                    if (valueCount !== currentValueCount) {
                        const lsIndex = input.value.lastIndexOf(separator);
                        const str = lsIndex !== -1 ? input.value.substr(0, lsIndex) + separator : "";
                        filldatalist(input, optionsValues, str);
                        valueCount = currentValueCount;
                    }
                });
            }
        }
        function filldatalist(input, optionValues, optionPrefix) {
            const list = input.list;
            if (list && optionValues.length > 0) {
                list.innerHTML = "";
                const usedOptions = optionPrefix.split(separator).map(value => value.trim());
                for (const optionsValue of optionValues) {
                    if (usedOptions.indexOf(optionsValue) < 0) {
                        const option = document.createElement("option");
                        option.value = optionPrefix + optionsValue;
                        list.append(option);
                    }
                }
            }
        }
    });
    function updateSelect() {
        $('#languageSelect').on("change", function () {
            $('#editForm').submit();
        });

        $('.chosen-select').on('chosen:ready', function () {
            $(".chosen-search-input").keydown(function (event) {
                var newAuthor = $('.chosen-search-input').val();
                var users = JSON.parse('@Html.Raw(Json.Encode(@ViewBag.AllUsers))');
                if (event.keyCode == 13 && !users.some(x => x.Text.toUpperCase().startsWith(newAuthor.toUpperCase()))) {
                    var field = $("#OtherAuthors").val();
                    $("#OtherAuthors").val((field.trim() === "" ? newAuthor : field + ", " + newAuthor).trim());
                    $(".chosen-search-input").val("");
                }
            });
        });
        $('.chosen-select').chosen(
            {
                allow_single_deselect: true,
                disable_search_threshold: 10,
                placeholder_text_multiple: 'Виберіть всіх авторів',
                no_results_text: 'Цей користувач не зареєстрований в системі. Натисніть Enter щоб додати '
            }
        );
    }

    updateSelect();
    $("#submit_btn").click(() => {
        let foo = document.getElementById("ddlMultiSelect_chosen").children[0].children
        let arrayAuthorsId = []
        for (let i = 0; i < foo.length - 1; i++) {
            arrayAuthorsId.push(foo[i].lastChild.dataset.optionArrayIndex)
        }
        document.getElementById("authorsIds").value = arrayAuthorsId
    });

    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            document.activeElement.blur();
            $.confirm({
                title: 'Збереження даних',
                content: 'Ви впевнені, що бажаєте зберегти дані і вийти?',
                buttons: {
                    submit: {
                        text: 'Зберегти',
                        action: function () {
                            $("#submit_btn").click();
                        }
                    },
                    cancel: {
                        text: 'Скасувати',
                        action: function () {
                        }
                    }
                }
            });
            return false;
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}