@model PagedList.IPagedList<UserManagement.Models.db.Publication>
@using PagedList.Mvc;
@using UserManagement.Models.db;
@{
    ViewBag.Title = "Публікації";
}

<h2>Публікації</h2>

<form asp-controller="Publications" asp-action="Index" id="mainFrom" style="width: 100%; text-align: center;">
    <div style="display: flex; justify-content: space-between">
        <div>
            <label>Назва</label>
            <input type="text" name="SearchString" value="@ViewBag.searchString">
        </div>
        <input type="hidden" name="isMine" value="@((bool)ViewBag.isMine ? "True" : "False")"/>
        @if ((ViewBag.isMine && User.IsInRole("Адміністрація ректорату")) || !ViewBag.isMine)
        {
        <div>
            <label>Факультет</label>
            @Html.DropDownList("faculty",
                          new SelectList(ViewBag.AllFaculties, "Value", "Text", ViewBag.facultyNumber),
                          "Виберіть факультет",
                          new { @class = "form-control chosen-select", @Value = ViewBag.faculty })
        </div>
        }
        @if ((ViewBag.isMine && User.IsInRole("Адміністрація деканату")) || !ViewBag.isMine)
        {
            <div>
                    <label>Кафедра</label>
                    <select id="cathedra-selector" class="form-control chosen-select" name="cathedra">
                        <option value="">Виберіть кафедру</option>
                        @foreach (var cathedra in ViewBag.AllCathedras)
                        {
                            <option value="@cathedra.ID" data-faculty="@cathedra.Faculty.ID">@cathedra.Name</option>
                        }
                    </select>
            </div>
        }
        @if ((ViewBag.isMine 
            && (User.IsInRole("Адміністрація ректорату") 
            || User.IsInRole("Адміністрація деканату") 
            || User.IsInRole("Керівник кафедри"))) || !ViewBag.isMine)
        {
        <div>
            <label>Користувач</label>
            @Html.DropDownList("user",
                          new SelectList(ViewBag.AllUsers, "Value", "Text", ViewBag.userId),
                          "Виберіть користувача",
                          new { @class = "form-control chosen-select", @Value = ViewBag.user })
        </div>
        }
        <div>
            <label>З: </label>
            <input type="date" name="dateFrom" value="@ViewBag.dateFrom" />
        </div>
        <div>
            <label>До: </label>
            <input type="date" name="dateTo" value="@ViewBag.dateTo">
        </div>
    </div>
    <div style="height: 50%;padding-top: 15px; display: inline-block;">
        <input type="submit" value="Пошук" style="width: 100%"/>
    </div>
</form>
<div style="display: flex; justify-content: space-between">
    @Html.ActionLink("Створити", "Create",new { language = "UA"})
    @{ 
        var text = User.IsInRole("Адміністрація ректорату") ? "Публікації університету"
            : User.IsInRole("Адміністрація деканату") ? "Публікації факультету"
            : User.IsInRole("Керівник кафедри") ? "Публікації кафедри"
            : "Мої публікації";
    }
    @Html.ActionLink(!ViewBag.isMine ? text : "Всі публікації", "Index",
        new
            {
                searchString = ViewBag.searchString,
            isMine = !ViewBag.isMine,
            page = ViewBag.page,
            dateFrom = ViewBag.dateFrom,
            dateTo = ViewBag.dateTo
            })
</div>
<br />

<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th>
            Рік
        </th>
        <th>
            Тип
        </th>
        <th>
            Автори
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @item.PublicationType.ToString().Replace('_', ' ')
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.AuthorsOrder))
                {
                    @Html.DisplayFor(modelItem => item.AuthorsOrder)
                }
                else if (!string.IsNullOrEmpty(item.OtherAuthors))
                {
                    @Html.DisplayFor(modelItem => item.OtherAuthors)                
                }
                else
                {
                    <span>--</span>
                }
            </td>
            <td>

                @if (item.User.Any(x => x.UserName == User.Identity.Name) || User.IsInRole("Superadmin") || User.IsInRole("Адміністрація деканату"))
                {
                    @Html.ActionLink("Редагувати", "Edit", new { id = item.ID })
                }
                @Html.ActionLink("Деталі", "Details", new { id = item.ID })

                @if (item.User.Any(x => x.UserName == User.Identity.Name))
                {
                    @Html.ActionLink("Видалити", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, isMine = ViewBag.isMine,
        isFaculty = ViewBag.isFaculty,
        faculty=ViewBag.faculty,
        cathedra=ViewBag.cathedra,
        user=ViewBag.user,
        searchString = ViewBag.searchString,
        dateFrom = ViewBag.dateFrom,
        dateTo = ViewBag.dateTo
    }))

<link rel="stylesheet" href="../Scripts/docsupport/style.css">
<link rel="stylesheet" href="../Scripts/docsupport/prism.css">
<link rel="stylesheet" href="../Scripts/chosen.css">
<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop {
        left: -9000px;
    }

    .find {
        height: 30px;
        margin-left: 15px;
    }
</style>

@section Scripts {
<script src="../Scripts/chosen.jquery.js" type="text/javascript"></script>
<script src="../Scripts/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    let el = document.getElementById("cathedra-selector");
    if (el) {
        let cathedrasSelectOptions = document.getElementById("cathedra-selector").options;
        var opts = [];
        for (var i = 0; i < cathedrasSelectOptions.length; i++) {
            opts.push({ value: cathedrasSelectOptions[i].value, faculty: cathedrasSelectOptions[i].dataset.faculty, text: cathedrasSelectOptions[i].text });
        }
    }
    function updateSelect() {
        $('.chosen-select').chosen(
            {
                allow_single_deselect: false,
                disable_search_threshold: 10,
                no_results_text: 'Не знайдено',
            }
        );
    }
    function addFacultyPickerListener() {
        let facultyElem = document.getElementById("faculty");
        $('#faculty').change(function (e) {
            var str = "<option value=''>Виберіть кафедру</option>";
            for (var i = 0; i < opts.length; i++) {
                if (facultyElem.value == '' || opts[i].faculty == facultyElem.value) {
                    let selected = opts[i].value == '@ViewBag.cathedra' ? 'selected' : '';
                    str += `<option value='${opts[i].value}' data-faculty='${opts[i].faculty}' ${selected}>${opts[i].text}</option>`;
                }
            }
            $("#cathedra-selector").html(str);
            $("#cathedra-selector").trigger("chosen:updated");
        });
    }
    addFacultyPickerListener();
    updateSelect();
    $('#faculty').change();
</script>
}