@using SRS.Services.Models.UserModels
@using SRS.Services.Providers
@model UserInfoModel

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Працівник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @foreach (var i in Model.I18nUserInitials)
        {
            <dt>
                Прізвище (@i.Language.ToString())
            </dt>
            <dd>
                @i.LastName
            </dd>
            <dt>
                Ім'я (@i.Language.ToString())
            </dt>
            <dd>
                @i.FirstName
            </dd>

            <dt>
                По батькові (@i.Language.ToString())
            </dt>
            <dd>
                @i.FathersName
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>

        <dd>
            @(Model.GraduationDate.HasValue ? Model.GraduationDate.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspirantStartYear)
        </dt>

        <dd>
            @(Model.AspirantStartYear.HasValue ? Model.AspirantStartYear.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspirantFinishYear)
        </dt>

        <dd>
            @(Model.AspirantFinishYear.HasValue ? Model.AspirantFinishYear.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeDefenseYear)
        </dt>

        <dd>
            @(Model.DegreeDefenseYear.HasValue ? Model.DegreeDefenseYear.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorStartYear)
        </dt>

        <dd>
            @(Model.DoctorStartYear.HasValue ? Model.DoctorStartYear.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorFinishYear)
        </dt>

        <dd>
            @(Model.DoctorFinishYear.HasValue ? Model.DoctorFinishYear.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicStatusDefenseYear)
        </dt>

        <dd>
            @(Model.AcademicStatusDefenseYear.HasValue ? Model.AcademicStatusDefenseYear.Value.Year : (int?)null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CathedraName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CathedraName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degrees)
        </dt>
        <dd>
            @for (var i = 0; i < Model.Degrees.Count; i++)
            {
                <div>@Model.Degrees[i].DegreeName</div>
                <div>Рік присвоєння: @Model.Degrees[i].AwardDate.Year</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicStatuses)
        </dt>
        <dd>
            @for (var i = 0; i < Model.AcademicStatuses.Count; i++)
            {
                <div>@Model.AcademicStatuses[i].AcademicStatusName</div>
                <div>Рік присудження: @Model.AcademicStatuses[i].AwardDate.Year</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HonoraryTitles)
        </dt>
        <dd>
            @for (var i = 0; i < Model.HonoraryTitles.Count; i++)
            {
                <div>@Model.HonoraryTitles[i].Value</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearcherId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResearcherId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orcid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orcid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScopusAuthorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScopusAuthorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleScholarLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleScholarLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScopusHIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScopusHIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebOfScienceHIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebOfScienceHIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleScholarHIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleScholarHIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleIds)
        </dt>
        <dd>
            @foreach (var role in Model.RoleIds)
            {
                <div>@RolesProvider.AllRoles[role]</div>
            }
        </dd>
    </dl>
</div>
<p>
    @if (Model.Email != User.Identity.Name)
    {
        @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
        <span>|</span>
    }

    <a href="/UsersManagement@(ViewBag.ReturnUrl != null ? "?" + ViewBag.ReturnUrl : "")">Повернутись до списку</a>
</p>
