@using SRS.Services.Models
@using SRS.Services.Models.Constants
@using SRS.Services.Providers
@model SRS.Services.Models.UserInfoModel

@{
    ViewBag.Title = "Редагування";
    var availableRoles = (List<RoleModel>)ViewBag.AvailableRoles;
}

<h2>Редагування</h2>


@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="display-label">@Model.Email</label>
        </div>
    </div>

    @Html.EditorFor(x => x.I18nUserInitials)

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="display-label">@Model.BirthDate.Year</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GraduationDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="display-label">@(Model.GraduationDate.HasValue ? Model.GraduationDate.Value.Year : (int?)null)</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DefenseYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="display-label">@(Model.DefenseYear.HasValue ? Model.DefenseYear.Value.Year : (int?)null)</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AwardingDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="display-label">@(Model.AwardingDate.HasValue ? Model.AwardingDate.Value.Year : (int?)null)</label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (User.Identity.Name != Model.Email
                && (User.IsInRole(RoleNames.Superadmin)
                || User.IsInRole(RoleNames.RectorateAdmin)
                || User.IsInRole(RoleNames.DeaneryAdmin)
                || User.IsInRole(RoleNames.CathedraAdmin)))
            {
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                </div>
            }
            else
            {
                <label class="display-label">@(Model.IsActive ? "Так" : "Ні")</label>
                @Html.HiddenFor(model => model.IsActive)
            }
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Ролі</label>
        <div class="col-md-10 existing-roles">
            @foreach (var role in Model.RoleIds)
            {
                <div class="display-label" data-id="@role">
                    <span>@RolesProvider.AllRoles[role]</span>
                    @if (User.Identity.Name != Model.Email && availableRoles.Any(x => x.Id == role))
                    {
                        <span class="text-danger action-btn remove">Видалити</span>
                    }
                    <input type="hidden" name="RoleIds[]" value="@role" />
                </div>
            }
        </div>
    </div>
    @if (User.Identity.Name != Model.Email)
    {
        <div class="form-group">
            <label class="control-label col-md-2">Доступні ролі</label>
            <div class="col-md-10 available-roles">
                @foreach (var role in availableRoles)
                {
                    if (!Model.RoleIds.Any(x => x == role.Id))
                    {
                        <div class="display-label" data-id="@role.Id">
                            <span>@RolesProvider.AllRoles[role.Id]</span>
                            <span class="text-success action-btn add">Додати</span>
                        </div>
                    }
                }
            </div>
        </div>
    }
    <div class="form-group">
        <label class="control-label col-md-2">Кафедра</label>
        <div class="col-md-10">
            <label class="display-label">@Model.CathedraName</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Науковий ступінь</label>
        <div class="col-md-10">
            <label class="display-label">@Model.AcademicStatusName</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Вчене звання</label>
        <div class="col-md-10">
            <label class="display-label">@Model.ScienceDegreeName</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Посада</label>
        <div class="col-md-10">
            <label class="display-label">@Model.PositionName</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Зберегти" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>

@section Styles {
    @Styles.Render("~/bundles/Content/usersManagement/edit")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/usersManagement/edit")
}
