@using PagedList.Mvc;
@using SRS.Domain.Enums
@using SRS.Domain.Enums.OrderTypes
@using SRS.Services.Providers
@using SRS.Services.Models.UserModels
@using SRS.Web.Models.Shared
@using SRS.Web.Models.UsersManagement
@model ItemsViewModel<UserFilterViewModel, BaseUserInfoModel>
@{
    ViewBag.Title = "Працівники";
}

<h2>Працівники</h2>
<form>
    @{ViewBag.SearchPlaceholder = "Пошук за прізвищем або поштою";}
    @{Html.RenderPartial("Filters/DepartmentFilter", Model.FilterModel);}
    <div class="form-group">
        <div>
            <select id="role-selector" class="form-control chosen-select" name="RoleId">
                <option value="">Виберіть роль</option>
                @foreach (var role in RolesProvider.AllRoles)
                {
                    <option value="@role.Key" selected="@(role.Key == Model.FilterModel.RoleId)">@role.Value</option>
                }
            </select>
        </div>
    </div>
    @{Html.RenderPartial("Filters/ActiveFilter", Model.FilterModel.IsActive != null ? Model.FilterModel.IsActive.ToString() : string.Empty);}
    @{Html.RenderPartial("Filters/BaseFilter", Model.FilterModel);}
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Фільтрувати" />
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Електронна пошта", "Index", new UserFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.Email, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, RoleId = Model.FilterModel.RoleId })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.Email, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Прізвище", "Index", new UserFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.LastName, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, RoleId = Model.FilterModel.RoleId })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.LastName, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Ім'я", "Index", new UserFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.FirstName, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, RoleId = Model.FilterModel.RoleId })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.FirstName, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Активний", "Index", new UserFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.Active, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, RoleId = Model.FilterModel.RoleId })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.Active, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Ролі", "Index", new UserFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.Roles, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, RoleId = Model.FilterModel.RoleId })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.Roles, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @foreach (var i in item.I18nUserInitials)
                        {
                            if (i.Language == Language.UA)
                            {
                                @Html.DisplayFor(modelItem => i.LastName)
                                break;
                            }
                        }
                    </td>
                     <td>
                        @foreach (var i in item.I18nUserInitials)
                        {
                            if (i.Language == Language.UA)
                            {
                                @Html.DisplayFor(modelItem => i.FirstName)
                                break;
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @foreach (var roleId in item.RoleIds.OrderBy(r => r))
                        {
                            <div>@RolesProvider.AllRoles[roleId]</div>
                        }
                    </td>
                    <td>
                        @if (item.Email != User.Identity.Name)
                        {
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id, returnUrl = Request.QueryString.ToString() }, new { @class = "btn btn-info" })
                        }
                        @Html.ActionLink("Деталі", "Details", new { id = item.Id, returnUrl = Request.QueryString.ToString() }, new { @class = "btn btn-info" })
                        @if (item.Email != User.Identity.Name && !item.IsActive)
                        {
                            @Html.ActionLink("Видалити", "Delete", new { id = item.Id, returnUrl = Request.QueryString.ToString() }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{Html.RenderPartial("Pagination/PageInfo", new PageInfoViewModel { PageNumber = Model.Items.PageNumber, PageCount = Model.Items.PageCount, PageItemCount = Model.Items.Count, TotalItemCount = Model.Items.TotalItemCount });}
@Html.PagedListPager(Model.Items, page => Url.Action("Index", new UserFilterViewModel { Page = page, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search, IsActive = Model.FilterModel.IsActive, RoleId = Model.FilterModel.RoleId }))

@section Styles {
    @Styles.Render("~/Content/chosen/bundle")
}
@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/departmentSelector")
}
