@using PagedList.Mvc;
@using SRS.Domain.Enums
@using SRS.Services.Providers
@using SRS.Services.Models
@using SRS.Web.Models.Shared
@model ItemsViewModel<DepartmentFilterViewModel, BaseUserInfoModel>
@{
    ViewBag.Title = "Користувачі";
}

<h2>Користувачі</h2>
<form>
    @{ViewBag.SearchPlaceholder = "Пошук за прізвищем або поштою";}
    @{Html.RenderPartial("Filters/DepartmentFilter", Model.FilterModel);}
    @{Html.RenderPartial("Filters/BaseFilter", Model.FilterModel);}
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Фільтрувати" />
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Електронна пошта", "Index", new DepartmentFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.Email, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.Email, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Ім'я", "Index", new DepartmentFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.FirstName, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.FirstName, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Прізвище", "Index", new DepartmentFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.LastName, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.LastName, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    @Html.ActionLink("Активний", "Index", new DepartmentFilterViewModel { Page = 1, OrderBy = (int)UserOrderType.Active, Desc = !Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search })
                    @{Html.RenderPartial("Ordering/OrderDirection", new OrderDirectionViewModel { OrderType = (int)UserOrderType.Active, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc });}
                </th>
                <th>
                    Ролі
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @foreach (var i in item.I18nUserInitials)
                        {
                            if (i.Language == Language.UA)
                            {
                                @Html.DisplayFor(modelItem => i.FirstName)
                                break;
                            }
                        }
                    </td>
                    <td>
                        @foreach (var i in item.I18nUserInitials)
                        {
                            if (i.Language == Language.UA)
                            {
                                @Html.DisplayFor(modelItem => i.LastName)
                                break;
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @foreach (var roleId in item.RoleIds)
                        {
                            <div>@RolesProvider.AllRoles[roleId]</div>
                        }
                    </td>
                    <td>
                        @if (item.Email != User.Identity.Name)
                        {
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                        }
                        @Html.ActionLink("Деталі", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        @if (item.Email != User.Identity.Name && !item.IsActive)
                        {
                            @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{Html.RenderPartial("Pagination/PageInfo", new PageInfoViewModel { PageNumber = Model.Items.PageNumber, PageCount = Model.Items.PageCount });}
@Html.PagedListPager(Model.Items, page => Url.Action("Index", new DepartmentFilterViewModel { Page = page, OrderBy = Model.FilterModel.OrderBy, Desc = Model.FilterModel.Desc, CathedraId = Model.FilterModel.CathedraId, FacultyId = Model.FilterModel.FacultyId, Search = Model.FilterModel.Search }))

@section Styles {
    @Styles.Render("~/bundles/Content/chosen")
}
@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/departmentSelector")
}
