@using SRS.Domain.Enums
@using SRS.Services.Extensions
@using SRS.Services.Models.PublicationModels
@using SRS.Web.Enums
@using SRS.Web.Services

@model PublicationModel
@{
    ViewBag.Title = "Деталі";
    var publicationTypeSeparator = ",";
}

<h2>Деталі</h2>

<div>
    <h4>Публікація</h4>
    <hr />
    <div>
        <div class="row">
            <label class="col-md-2">Мова публікації</label>
            <div class="col-md-10">
                @(Model.Language != Language.Other || string.IsNullOrWhiteSpace(Model.OtherLanguage) ? Model.Language.GetDisplayName() : Model.OtherLanguage)
            </div>
        </div>

        <div class="row">
            <label class="col-md-2">Тип публікації</label>
            <div class="col-md-10">
                <input type="hidden" name="PublicationType" value="@((int)Model.PublicationType)" />
                @Model.PublicationType.GetDisplayName()
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Journal)))">
            <label class="col-md-2">Журнал</label>
            <div class="col-md-10">
                @(Model.JournalName ?? Model.OtherJournal)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Name)))">
            <label class="col-md-2"><span class="field-label">Назва</span></label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.MainAuthor)))">
            <label class="col-md-2">Перший автор</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MainAuthor)
            </div>
        </div>

        <div class="row">
            <label class="col-md-2">Усі автори</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AuthorsOrder)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ConferenceName)))">
            <label class="col-md-2">Назва конференції</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ConferenceName)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ConferenceDate)))">
            <label class="col-md-2">Дата проведення</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ConferenceDate)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ConferencePlace)))">
            <label class="col-md-2">Місто проведення</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ConferencePlace)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ConferenceCountry)))">
            <label class="col-md-2">Країна проведення</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ConferenceCountry)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ConferenceEdition)))">
            <label class="col-md-2">Видання</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ConferenceEdition)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ApplicationNumber)))">
            <label class="col-md-2"><span class="field-label">Номер заявки</span></label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ApplicationNumber)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ApplicationDate)))">
            <label class="col-md-2">Дата подання заявки</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ApplicationDate)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.PublicationDate)))">
            <label class="col-md-2">Дата публікації</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Date)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Place)))">
            <label class="col-md-2">Місто</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Place)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Edition)))">
            <label class="col-md-2">Видавництво</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Edition)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Date)))">
            <label class="col-md-2"><span class="field-label">Рік публікації</span></label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Date)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.BulletinNumber)))">
            <label class="col-md-2">Бюлетень №</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BulletinNumber)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ApplicationOwner)))">
            <label class="col-md-2">Заявник і власник</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ApplicationOwner)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Tome)))">
            <label class="col-md-2">Том</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Tome)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Issue)))">
            <label class="col-md-2">Номер, випуск</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Issue)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.NumberOfPages)))">
            <label class="col-md-2">Кількість сторінок</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NumberOfPages)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.PageFrom)))">
            <label class="col-md-2">Сторінки від</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PageFrom)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.PageTo)))">
            <label class="col-md-2">Сторінки до</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PageTo)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.PublicationIdentifier)))">
            <label class="col-md-2"><span class="field-label">Ідентифікатор (номер) статті</span></label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PublicationIdentifier)
            </div>
        </div>

        <div class="row">
            <label class="col-md-2">К-сть друкарських аркушів</label>
            <div class="col-md-10">
                @Model.GetSizeOfPages()
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.ISBN)))">
            <label class="col-md-2">ISBN</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ISBN)
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.DOI)))">
            <label class="col-md-2">DOI</label>
            <div class="col-md-10">
                @if (!string.IsNullOrEmpty(Model.DOI))
                {
                    if (Model.DOI.StartsWith("http") || Model.DOI.StartsWith("www"))
                    {
                        <a href="@Model.DOI">@Model.DOI</a>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.DOI)
                    }
                }
            </div>
        </div>

        <div class="row field"
             data-types="@(string.Join<FieldInfo>(publicationTypeSeparator, PublicationFieldsService.GetAvailablePublicationTypes(PublicationField.Link)))">
            <label class="col-md-2">Посилання на публікацію в Інтернеті</label>
            <div class="col-md-10">
                @if (!string.IsNullOrEmpty(Model.Link))
                {
                    <a href="@Model.Link">@Model.Link</a>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) <span>|</span>
    <a href="/Publications@(ViewBag.ReturnUrl != null ? "?" + ViewBag.ReturnUrl : "")">Повернутись до списку</a>
</p>

@section Scripts {
    <script>var separator = '@publicationTypeSeparator';</script>
    @Scripts.Render("~/bundles/availableFieldsComponent")
    @Scripts.Render("~/bundles/publications/view")
}