@using SRS.Services.Models
@model PublicationModel
@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Публікація</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Назва
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Автори
        </dt>

        <dd>
           @Html.DisplayFor(model => model.AuthorsOrder)
        </dd>
        <dt>
            Рік публікації
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            К-сть друкованих аркушів
        </dt>
        <dd>
            @Model.GetSizeOfPages()
        </dd>
        <dt>
            Тип
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationType)
        </dd>
        <dt>
            Мова
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            Посилання на публікацію в інтернеті
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            Видавництво
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt>
            Місто, де розташоване видавництво
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            Назва журналу
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Magazine)
        </dd>
        <dt>
            ДОІ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOI)
        </dd>
        <dt>
            Частина видання
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) <span>|</span>
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
