@using SRS.Services.Models.Constants
@using SRS.Web.Models.Publications
@model PublicationEditViewModel
@{ ViewBag.Title = "Редагувати"; }

<h2>Редагувати</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Публікація</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2">Мова публікації <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Language,
                                                                        new SelectList(ViewBag.AllLanguages, "Value", "Text"),
                                                                        new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Тип публікації <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PublicationType,
                                                                                   new SelectList(ViewBag.AllPublicationTypes, "Value", "Text"),
                                                                                   new
                                                                                   {
                                                                                       @class = "form-control col-md-2",
                                                                                       @onchange = "publicationTypeChange(this)"
                                                                                   })
                @Html.ValidationMessageFor(model => model.PublicationType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Назва <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Головний(і) автор(и) <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainAuthor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MainAuthor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Усі автори <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorsOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorsOrder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Доступно користувачам <span class="text-danger">*</span></label>
            <div class="col-md-10">
                <div id="user-search" class="search-container">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input class="form-control" placeholder="Пошук за прізвищем або поштою" />
                    </div>
                    <div class="search-results">
                    </div>
                </div>
                <div class="selected-users">
                    @for (var i = 0; i < Model.Users.Count; i++)
                    {
                        <div class="user">
                            <div class="fullname">@Model.Users[i].FullName <i class="bi bi-trash text-danger cursor-pointer"></i></div>
                            <input type="hidden" name="Users[@i].Id" class="id" value="@Model.Users[i].Id" />
                            <input type="hidden" name="Users[@i].LastName" class="lastname" value="@Model.Users[i].LastName" />
                            <input type="hidden" name="Users[@i].FirstName" class="firstname" value="@Model.Users[i].FirstName" />
                            <input type="hidden" name="Users[@i].FathersName" class="fathersname" value="@Model.Users[i].FathersName" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Місто, де розташоване видавництво</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Рік публікації <span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(m => m.Year, new { htmlAttributes = new { @class = "form-control", Min = Dates.MinYear, Type = "number", Max = DateTime.Now.Year } })
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Видавництво</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Edition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Назва журналу</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Magazine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Magazine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Посилання на публікацію в інтернеті</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">ДОІ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Частина видання</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tome, new { htmlAttributes = new { @class = "form-control", placeholder = "вип.27" } })
                @Html.ValidationMessageFor(model => model.Tome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Сторінки від</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Сторінки до</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>

@section Styles {
    @Styles.Render("~/Content/search/bundle")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/searchComponent")
    @Scripts.Render("~/bundles/publications/edit")
}